<html land="en">
    
    <head>

        <meta charset="utf-8">
        <title>MyProject</title>
        <meta name="description" content="Awesome!">
        <meta name="author" content="HAW Hamburg">
        <link rel="stylesheet" href="/resources/static/index.css">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>

    </head>

    <body>
    <div class="wrapper">
        <div class=headers>
            <div>
                <h1>{{#i18n}}header1{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header2{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header3{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header4{{/i18n}}</h1>
            </div>
        </div>

        <div class="rechner">
            <form class="form" action="/logout" method="POST" accept-charset="utf-8">
                
                <input type="submit" value="logout" />

            </form>
        </div>
    </div>
    </body>

</html>
