<html land="en">
    
    <head>

        <meta charset="utf-8">
        <title>MyProject</title>
        <meta name="description" content="Awesome!">
        <meta name="author" content="HAW Hamburg">
        <link rel="stylesheet" href="/resources/static/index.css">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>

    </head>

    <body>
    <div class="wrapper">
        <div class=headers>
            <div>
                <h1>{{#i18n}}header1{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header2{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header3{{/i18n}}</h1>
            </div>

            <div>
                <h1>{{#i18n}}header4{{/i18n}}</h1>
            </div>
        </div>

        <div class="rechner">
            <form class="form" action="/result" method="POST" accept-charset="utf-8">
                
                <div>
                    <label>1. Prüfungsergebnis</label>
                    <input name="r1" type="number" required min="0" max="100"/>
                </div>

                <div>
                    <label>2. Prüfungsergebnis</label>
                    <input name="r2" type="number" required min="0" max="100"/>
                </div>

                <div>
                    <label>2. Prüfungsergebnis</label>
                    <input name="r3" type="number" required min="0" max="100"/>
                </div>

                <button type="submit">Submit</button>

            </form>
        </div>

        <div class="ergebnis {{#cssClass}}{{cssClass}}{{/cssClass}}">
            <div class="ergebnisDiv">
                <p>Ergebnis</p>
                <p> 
                    {{#ergebnis}}
                        {{ergebnis}}
                    {{/ergebnis}}

                    {{^ergebnis}}
                        <em>Gebe die Ergebnisse ein</em>
                    {{/ergebnis}}
                </p>
                <p>
                    {{#ergebnisString}}
                        {{ergebnisString}}
                    {{/ergebnisString}}

                    {{^ergebnisString}}
                        <em>Gebe die Ergebnisse ein</em>
                    {{/ergebnisString}}
                </p>
            </div>
        </div>
    </div>
    </body>

</html>
